.DS_Store

# front-end
/front-end/.next/
/front-end/node_modules/
/front-end/out/
/front-end/.cache/
/front-end/dist/
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
